<div class="wrapper">
  <div class="header-home">
    <app-navbar></app-navbar>
  </div>
  <div class="body-alumno">
    <div class="row mt-5 mb-5">
      <span class="title-perfil">Bienvenido {{name_user}}</span>
      <br><br>
      <span class="title-perfil">{{rol}}</span>
    </div>
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de Alumnos registrados</span>
          </div>
        </div>
      </div>
      <!-- Tabla de angular material -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- fila 1 -->
          <ng-container matColumnDef="id_matricula">
            <th mat-header-cell *matHeaderCellDef> Matricula </th>
            <td mat-cell *matCellDef="let element"> {{element.id_matricula}} </td>
          </ng-container>
          <!-- fila 2 -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
            <td mat-cell *matCellDef="let element"> {{element.user.first_name}} {{element.user.last_name}} </td>
          </ng-container>
          <!-- fila 3 -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
          </ng-container>
          <!-- fila 4 -->
          <ng-container matColumnDef="curp">
            <th mat-header-cell *matHeaderCellDef> curp </th>
            <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
          </ng-container>
          <!-- fila 5 -->
          <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </td>
          </ng-container>
          <!-- fila 6 -->
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
          </ng-container>
          <!-- fila 7 -->
          <ng-container matColumnDef="actualizar">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" class="td-editar">
              <i class="bi bi-pencil-square" (click)="goEditarAlumno(element.id)"></i>
            </td>
          </ng-container>
          <!-- fila 8 -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element" class="td-eliminar">
                <i class="bi bi-trash3-fill" (click)="goEliminarAlumno(element.id)"></i>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
    <!-- container -->
  </div>
</div>
